.nav-link[aria-current="page"] {
	font-weight: bold;
	background-color: rgb(238 242 255 / var(--tw-bg-opacity));
	color: rgb(0 0 0 / var(--tw-text-opacity));
}

.tplink-device-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.tplink-device div {
	margin: 5px 0;
}

.device-alias {
	font-size: 1.1em;
}

.device-name {
	font-style: italic;
}

.device-state {
	color: #4caf50; /* Light green for state */
}

.panel-form {
	form {
		height: 100%;
	}
}
